/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.mybutton {
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}
.mybutton:hover {
	-fx-background-color: brown;
	-fx-border-color: brown;
}

.button:pressed {
  -fx-background-color: red;
  -fx-text-fill: white;
  }

.fondo1 {
	-fx-background-color: #5D4037;
}

.fondo2 {
	-fx-background-color: #D7CCC8;
}